html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  letter-spacing: 2px;
  position: relative;
}

h1:before {
  position: absolute;
  top: -30px;
  left: 50px;
  font-size: 12px;
  color: #646464;
}

h1:after {
  position: absolute;
  content: '';
  top: -22px;
  left: 0px;
  width: 30px;
  height: 1px;
  background-color: black;
}

#about h1:before {
  content: 'Let me tell';
}

body {
  font-family: 'Raleway', sans-serif;
}

.header {
  width: 70px;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #78BCE6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.header:hover {
  width: 220px;
}

.header:hover .category span {
  opacity: 1;
}

.header:hover .category {
  text-align: initial;
}

.header .name {
  font-size: 3rem;
  font-weight: 400;
  color: white;
}

.header .category {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  white-space: nowrap;
}

.header .category:hover {
  background: #98cbeb;
  -webkit-box-shadow: 3px 3px 20px #4aa0d6;
          box-shadow: 3px 3px 20px #4aa0d6;
}

.header .category .icon {
  margin-right: 10px;
}

.header .category span {
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header .name {
  text-align: center;
  background-color: #4aa0d6;
  padding: 15px 0;
  margin-bottom: 25vh;
}

.icon {
  color: white;
}

main {
  width: 80%;
  margin: auto;
  max-width: 1300px;
}

section {
  padding-top: 50px;
  margin-bottom: 10rem;
}

section .profileImg {
  width: 25vw;
  height: 25vw;
  max-width: 450px;
  max-height: 450px;
  border-radius: 100%;
  background-image: url("../img/me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section .profileImg:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #78BCE6;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: -1;
  opacity: .5;
}

section .profileImg:after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #98cbeb;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: -2;
  opacity: .3;
}

section .profileImg div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #98cbeb;
  opacity: .2;
  z-index: -3;
  border-radius: 100%;
  top: 0;
  left: 50px;
}

section .introduction {
  padding-left: 20px;
}

section .introduction p:first-child {
  letter-spacing: 1px;
  font-weight: 500;
}

section .introduction p:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  color: #646464;
}

section .introduction p:nth-child(2) span {
  color: #4aa0d6;
}

section .introduction p:last-child {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #646464;
  line-height: 1.8rem;
}

section .introduction p:last-child span {
  color: #4aa0d6;
  font-weight: 600;
}

#home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0 !important;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about h1 {
  width: 100%;
}

#about .background {
  width: 49%;
}

#skills h1:before {
  content: 'Check my';
}

#skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minMax(5.4rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minMax(5.4rem, 1fr));
  grid-row-gap: 30px;
  grid-column-gap: 80px;
  padding: 0;
}

#skills li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills i {
  font-size: 35px;
}

#skills .html {
  color: #E44D26;
}

#skills .css {
  color: #264DE4;
}

#skills .sass {
  color: #E4A8C6;
}

#skills .javascript {
  color: #F7DF1E;
}

#skills .react {
  color: #61DAFB;
}

#skills .git {
  color: #e94e31;
}

#skills img {
  width: 30px;
}

#skills .container {
  border-radius: 20px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 75px;
  background: white;
  height: 75px;
  -webkit-box-shadow: 0 0 10px #c8c8c8;
          box-shadow: 0 0 10px #c8c8c8;
}

#skills .container div {
  font-size: 11px;
}

#works h1:before {
  content: 'Take a look at';
}

#works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#works .container img {
  width: 35%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}

#works .container .explainBox {
  width: 62%;
}

#works .container h2 {
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}

#works .container ul {
  padding-left: 20px;
}

#works .background {
  margin-bottom: 30px;
  position: relative;
}

#works a {
  margin-right: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

#works .btnBox {
  margin-top: 40px;
}

#contact h1:before {
  content: 'ready for work';
}

#contact li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #646464;
}

#contact .email {
  color: tan;
}

#contact .phone {
  color: #78BCE6;
}

#contact .location {
  color: palevioletred;
}

#contact i {
  margin-right: 10px;
}

.background {
  background-color: #e1f4ff;
  padding: 30px;
  border-radius: 20px;
}

.background p, .background li {
  color: #646464;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.8rem;
}

.background p span, .background li span {
  color: #4aa0d6;
  font-weight: 600;
}

.hambugerBtn {
  position: fixed;
  z-index: 2;
  display: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 5px 5px 5px;
  top: 40px;
  left: 40px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.hambugerBtn .iconBox {
  position: relative;
  cursor: pointer;
}

.hambugerBtn span {
  display: block;
  width: 2rem;
  height: 3px;
  background-color: #4aa0d6;
  margin-bottom: 5px;
}

.showBtn {
  left: 0 !important;
}

@media (max-width: 1200px) {
  .header {
    left: -70px;
  }
  .header:hover {
    width: 70px;
  }
  .header:hover span {
    display: none;
  }
  html {
    font-size: 14px !important;
  }
  .hambugerBtn {
    display: block;
  }
}

@media (max-width: 1000px) {
  #home {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 140px !important;
  }
  #home .profileImg {
    width: 50vw;
    height: 50vw;
    min-width: 250px;
    min-height: 250px;
  }
  #about .background {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 12px !important;
  }
  #works .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #works .container img {
    width: 100%;
    margin-bottom: 30px;
  }
  #works .container div {
    width: 100% !important;
  }
  #home {
    height: auto;
  }
  #home .profileImg {
    margin-bottom: 30px;
  }
  .hambugerBtn {
    top: 25px;
    left: 25px;
  }
}
